/* nav {
    font-size: 15px;
    margin-top: 0px;
} */

/* nav ul {
    text-align: right;
} */

/* nav ul li {
    display: inline-block;
    list-style: none;
} */

nav {
    margin-top: -45px;
    justify-content: space-evenly;
    padding: 18px;
    position:fixed;
    height: 70px;
    width: 100%;
    background-color: solid purple;

